<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/favicon.png" type="">

  <title> Seven Diner </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />


  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="../images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/Staff">
            <span>
              Seven Diner
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto" style="padding-left:700px">
              
              <li class="nav-item">
                <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>
              
            </li>
            </ul>
            
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- image section -->

  <section class="image_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Welcome, Restaurant Staff!
        </h2>
      </div>
      <div class="heading_container heading_center">
        <h4>
           Please select one of the following to perform a task associated with Orders:
        </h4>
      </div>
        <div class="row grid">
          <a href="/Staff/StaffCreateOrder">
            <div class="col-sm-6 col-lg-4 all">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../images/create.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Create Order
                    </h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </a>
          
          <a href="/Staff/StaffUpdateOrder">
            <div class="col-sm-6 col-lg-4 all">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../images/edit.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Update Order
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="/Staff/StaffSearchOrder">
            <div class="col-sm-6 col-lg-4 all">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../images/search.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Search Order
                    </h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
      
    </div>
  </section>
  <span id="displayYear"></span>

  <!-- jQuery -->
  <script src="../js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="../js/bootstrap.js"></script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- custom js -->
  <script src="../js/custom.js"></script>
 

</body>

</html>