<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/favicon.png" type="">

  <title> Seven Diner </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />


  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
      <div class="bg-box">
        <img src="../images/hero-bg.jpg" alt="">
      </div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/Manager">
              <span>
                Seven Diner
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto" style="padding-left:700px">
                
                <li class="nav-item">
                  <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>
                
              </li>
              </ul>
              
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- end header section -->
    <!-- form section -->
    <section class="form_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Update Menu Item
            </h2>
          </div>
          <h4 style="padding-top: 10px;">
            Please enter a menu name:
          </h4>
            <form action="/ManagerSearchUpdateMenuItem" method="post">
              <div>
                <input style="width:25%" type="text" class="form-control" name="menuName" id="menuName" placeholder="Menu Item" />
              </div>
              <div>
                <button class="yellow-button" type="submit">
                  Search
                </button>
              </div>
              <br/>
              <br/>
              <% if ( expressSuccess.length > 0 ) { %>
                <p id="flashMsg" class="success-msg"><%= expressSuccess %> </p>
            <% } %>
             </form>
         
            <div>
                    <!--- ShowSearchResult() foreach loops -->
                    
                      <table border="1" style="width:100%">
                        <thead>
                          <tr>
                            <th>Menu ID</th>
                            <th>Menu Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Food Type</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(data.length> 0) { %>
          
                            <% data.forEach(function(menuitem) { %>
                              <tr>
                                <form method="post" action="/ManagerUpdateMenuItemController">
                                <td>
                                    <input type="hidden" name="menuID" value=<%= menuitem.menuID %>><%= menuitem.menuID %>
                                </td>
                                <td>
                                    <input type="text" name="menuName" value="<%= menuitem.menuName %>">
                                </td>
                                <td>
                                    <input style="width:150px" type="text" name="price" value=<%= menuitem.price %>>
                                </td>
                                <td>
                                    <input style="width:350px" type="text" name="description" value="<%= menuitem.description %>">
                                </td>
                                <td>
                                  <input type="text" name="type" value="<%= menuitem.type %>">
                              </td>
                                <td>
                                    <button type="submit">
                                      Update
                                    </button>
                                  </td>
                                </form>
                                <form method="post" action="/ManagerDeleteMenuItemController">
                                  <td>
                                    <input type="hidden" name="menuID" value=<%= menuitem.menuID %>>
                                    <button type="submit">
                                      Delete
                                    </button>
                                  </td>
                                </form>
                              </tr>
                              <% }); %>
              
                          <% } else { %>
                            <h3>No Results</h3>
                          <% } %>
                          
                        </tbody>
                      </table>
                                
                        
        
            </div>
            
        </div>
    </section>
      <!-- end form section -->

  <!-- footer section -->
  
  <!-- footer section -->

  

</body>

</html>