<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/favicon.png" type="">

  <title> Seven Diner </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />


  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
      <div class="bg-box">
        <img src="../images/hero-bg.jpg" alt="">
      </div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/UserAdmin">
              <span>
                Seven Diner
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto" style="padding-left:700px">
                
                <li class="nav-item">
                  <a class="nav-link" onclick="window.location.href='/LogoutController'">Log Out</a>
                
              </li>
              </ul>
              
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- end header section -->
    <!-- form section -->
    <section class="form_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Update Account
            </h2>
          </div>
          <h4 style="padding-top: 10px;">
            Please enter a username:
          </h4>
            <form action="/UserAdminSearchUpdateAccount" method="post">
              <div>
                <input style="width:25%" type="text" class="form-control" name="username" id="username" placeholder="Username" />
              </div>
              <div>
                <button class="yellow-button" type="submit">
                  Search
                </button>
              </div>
              
              <br/>
              <br/>
              <% if ( expressSuccess.length > 0 ) { %>
                <p id="flashMsg" class="success-msg"><%= expressSuccess %> </p>
            <% } %>
             </form>
         
            <div>
                    <!--- ShowSearchResult() foreach loops -->
                    
                      <table border="1" style="width:100%">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role Name</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(data.length> 0) { %>
          
                            <% data.forEach(function(user) { %>
                              <tr>
                                <form method="post" action="/UserAdminUpdateAccountController">
                                <td><input type="hidden" name="username" value=<%= user.username %>><%= user.username %></td>
                                <td><input style="width:150px" type="text" name="password" value=<%= user.password %>></td>
                                <td><input type="text" name="email" value=<%= user.email %>></td>
                                <td><input style="width:150px" type="text" name="firstName" value=<%= user.firstName %>></td>
                                <td><input style="width:150px" type="text" name="lastName" value=<%= user.lastName %>> </td>

                                <!-- <input type="text" name="role" value=<%= user.role %>> -->
                                <td>
                                  <select class="form-control" name="roleName">
                                    <option selected hidden>
                                      <%= user.roleName %>
                                    </option>
                                  <% if(roleData.length> 0) { %>
                                    
                                    <% roleData.forEach(function(role) { %>
                                      <option>
                                        <%= role.roleName %>
                                      </option>
                                            <% }); %>
                      
                                  <% } else { %>
                                      <option>No role</option>
                                  <% } %>
                                  </select>
                                </td>

                                <td>
                                  
                                  <button type="submit">
                                    Update
                                  </button>
                                </td>
                              </form>
                              <form method="post" action="/UserAdminDeleteAccountController">
                                <td>
                                  <input type="hidden" name="username" value=<%= user.username %>>
                                  <button type="submit">
                                    Delete
                                  </button>
                                </td>
                              </form>
                              </tr>
                              <% }); %>
              
                          <% } else { %>
                            <h3>No Results</h3>
                          <% } %>
                          
                        </tbody>
                      </table>
                                
                        
        
            </div>
            
        </div>
    </section>
      <!-- end form section -->

  <!-- footer section -->
  
  <!-- footer section -->

  

</body>

</html>